@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');
/* =============================================================
GOOGLE FONT
============================================================ */

@import url(http://fonts.googleapis.com/css?family=Ubuntu); /* FREE GOOGLE FONT */
@import url(http://fonts.googleapis.com/css?family=Oswald); /* FREE GOOGLE FONT */

*{
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
.header {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.header {
    width: 50px;
    border-top: 2px solid rgb(57, 171, 111);
}

body{
    background: rgb(52, 56, 61);
}

.text-white {
    color: #fff;
}

.low-width {
    width: 1100px;
}
.addon {
    width: 200px;
    height: 50px;
}
.container{
	font-family: 'Ubuntu', sans-serif;
    overflow:hidden;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.box {
    display:inline-block;
}

.right {
    float: right;
}
.left {
    float: left;
}
.standard-height {
    height: 50px;
}

h1{
	color: rgb(255, 255, 255);
	margin: 20px auto 0;
	text-align: center;
}
#wrapper{
    z-index: 10;
	position: absolute;
	width: 320px;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -75px;
}

/* === Sign in Form === */
#add {
	height: 90px;
	width: 300px;
	border-radius: 8px;
	position: relative;
}
#add::before {
	display: block;
	position: relative;
	height: 2px;
	background: rgb(52, 56, 61);
	content: '';
	top: 44px;
	margin-left: 20px;
	z-index: 1;
}
#add input:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#add input:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#add  input[type="text"], #add button[type="submit"]{
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(52, 56, 61);
}
#add  input[type="text"]{
	position: relative;
	display: block;
	width: 280px;
	height: 45px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 700;
}
#add  input[type="text"]:focus{
	color: rgb(255, 255, 255);
}

#add button[type="submit"]{
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    color: rgb(52, 56, 61);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 19px;
    right: -24px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0px;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
 }
#add button[type="submit"]:hover{
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
 }
#add p {
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#add p > a{
	color: rgb(111, 119, 135);
	text-decoration: none;
}
#add p > a:hover{
	border-bottom: 1px solid;
}